.titleAccessories {
  font-family: "Great Vibes";
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  color: #bb7d68;
  display: flex;
  font-weight: 100;
  margin: 0;
  padding-top: 60px;
}

.textAccessories {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  width: 80%;
}

/* Media Query */
@media screen and (max-width: 1115px) {
  .titleAccessories {
    font-size: 60px;
    transition: 1s;
  }
}

@media screen and (max-width: 500px) {
  .textAccessories {
    font-size: 15px;
    transition: 1s;
  }
}

@media screen and (max-width: 350px) {
  .titleAccessories {
    font-size: 50px;
    transition: 1s;
  }
}
