.secao-outros {
  display: flex;
  justify-content: center;
}

.container-servicos {
  width: 33.1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-outros {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 80%;
}

.imagem-servico {
  width: 100%;
  padding-bottom: 20px;
}

.outros-titulo {
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  color: #BB7D68;
  font-weight: 100;
  width: 100%;
}

.outros-paragrafo {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

/* Mouse Hover */
/*
.card-outros:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}*/

.imagem-servico:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}


/* Media Query */
@media screen and (max-width: 1080px) {
  .outros-titulo {
    font-size: 50px;
    transition: 1s;
  }
}

@media screen and (max-width: 780px) {
  .outros-titulo {
    font-size: 35px;
    transition: 1s;
  }

  .outros-paragrafo {
    font-size: 13px;
    transition: 1s;
  }
}

@media screen and (max-width: 545px) {
  .secao-outros {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .container-servicos {
    width: 100%;
  }
}

@media screen and (max-width: 190px) {
  .outros-titulo {
    font-size: 25px;
    transition: 1s;
  }

}