.cntContactForm {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: #fff;
    border-radius: 20px;
    width: 30%;
    min-width: 180px;
}

/* Media Query */
@media screen and (max-width: 1020px) {
    .cntContactForm {
        width: 60%;
    }
}