.secao-sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    background-color: #fff;
}

.link-sobre {
    margin-top: 60px;
    font-size: 70px;
    font-weight: 00;
    color: #CE947B;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    width: 80%;
}

.secao-sobre h2 {
    font-size: 25px;
    color: #E6B194;
    text-align: center;
    width: 80%;
}

.secao-sobre p {
    width: 80%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Mouse Hover */
.link-sobre:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}
