.secaoContatoFormulario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(#BB7D68, #E6B194, #fff);
}

.containerFormulario {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: #fff;
    border-radius: 20px;
    width: 30%;
    min-width: 180px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.formulario label {
    display: flex;
    align-content: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.formulario input,
.formulario textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0.6rem 0;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #B9AEAC;
    width: 100%;
    height: 25px;
}

.formulario textarea {
    height: 140px;
    resize: none;
}

.formulario button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #BB7D68;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.tituloFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    color: #CE947B;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.boxAgFeed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    background-color: #FCF9F7;
    width: 25%;
    min-width: 180px;

}

.textoAgFeed {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CE947B;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Great Vibes'; */
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}

.linkAgFeed {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #BB7D68;
    box-shadow: 1px 1px 2px #888;
    border-radius: 50px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    height: 40px;
    width: 75%;
    min-width: 150px;
}

.imgAgFeed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}


/* Efeitos */
.formulario input:focus-visible,
.formulario textarea:focus-visible {
    outline: 1px solid #FCF9F7;
}


/* Mouse Hover */
.formulario button:hover {
    transform: scale(1.03);
    transition: 200ms linear;
}

.formulario input:hover,
.formulario textarea:hover {
    background-color: #eeeeee75;
    transition: 0.5s;
}

.linkAgFeed:hover {
    transform: scale(1.03);
    transition: 200ms linear;
}


/* Media Query */
@media screen and (max-width: 410px) {
    .secaoContatoFormulario h1 {
        font-size: 40px;
        letter-spacing: 1px;
        transition: 1s;
    }

    .textoAgFeed {
        font-size: 18px;
        transition: 1s;
    }
}

@media screen and (max-width: 500px) {
    .tituloFormulario {
        font-size: 45px;
        transition: 1s;
    }

    .linkAgFeed {
        width: 80%;
        font-size: 15px;
        transition: 1s;
    }
}

@media screen and (max-width: 1020px) {
    .secaoContatoFormulario {
        flex-direction: column;
        padding: 30px 0;
    }

    .containerFormulario,
    .boxAgFeed {
        width: 60%;
    }

    .imgAgFeed {
        padding-left: 5px;
    }

    .linkAgFeed {
        width: 90%;
    }
}