.container-rodape {
    display: flex;
    justify-content: space-evenly;
    background-color: #BB7D68;
    color: #fff;
    text-align: center;
    width: 100%;
}

.container-rodape p {
    width: 100%;
}

@media screen and (max-width: 460px) {
    .container-rodape p {
        font-size: 12px;
        text-align: center;
    }
}