.slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

.image {
    width: 100vw;
    display: flex;
}

.arrow {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
}

.arrow:hover {
    background-color: #fff;
    color: #777;
}

.next {
    right: 1.5rem;

}

.prev {
    left: 1.5rem;
}

@media screen and (max-width: 400px) {
    .arrow {
        height: 1.5rem;
        width: 1.5rem;
        transition: 1s;
    }

}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 23rem;

    }

    100% {
        visibility: visible;
        top: 17rem;
    }
}