.secao-slider {
  display: flex;
  /*alinhamento horizontal*/
  justify-content: center;
  /* alinhamento vertical*/
  align-items: center;
  margin: 0;
  padding: 0;
}

.swiper#pagina-inicial {
  width: 75%;
  height: 100%;
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #B9AEAC !important;
  width: 44px !important;  
}

/* Mouse Hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2) !important;
  transition: 200ms linear;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}