.secao-servicos {
    width: 100vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.container-img-secao-servicos {
    display: flex;
    justify-content: center;
}

.container-img-secao-servicos img {
    width: 40vw;
    display: flex;
}

.container-secao-servicos {
    width: 60vw;
    display: flex;
    background-color: #BB7D68;

}

.container-lista-servicos {
  
    display: flex;
}

.lista-servicos {
   
    display: flex;
    align-items: center;
   
}

.link-servicos {
    font-size: 70px;
    color: #ffffff;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
}

.container-secao-servicos p {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.container-lista-servicos img {
    margin-right: 30px;
}

.secao-servicos-link {
    text-decoration: none;
    color: #F6C1A1;
}

.secao-servicos-link h2 {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

/*
@media screen and (max-width: 970px) {
    .secao-servicos {
        flex-direction: column;
    }
}
*/
/*
@media screen and (max-width: 1380px) {
    .container-secao-servicos h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1065px) {

    .lista-servicos {
        flex-direction: column;
    }

    .container-secao-servicos h1 {
        font-size: 25px;
        text-align: center;
    }

    .container-secao-servicos h2 {
        font-size: 20px;
        text-align: center;
    }

    .container-secao-servicos p {
        font-size: 15px;
        text-align: center;
    }

    .container-lista-servicos img {
        margin-right: 0;
    }
}

@media screen and (max-width: 970px) {
    .container-img-secao-servicos {
        display: none;
    }

    .container-secao-servicos {
        width: 100%;
    }

    .container-lista-servicos img {
        margin-right: 0;
    }
}

@media screen and (max-width: 265px) {
    .link-servicos {
        font-size: 35px;
    }
}*/