/* SECAO VESTIDO TIPO 2 - BACKGROUND ESCURO */

/* Container da página */
.secao-segundo-vestido {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    background-color: #BB7D68;
}

/* Texto da Seção */
.titulo-segundo-vestido {
    display: center;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: #E6B194;
    padding-top: 40px;
}

/* Container Geral para agrupamento das imagens */
.container-segundo-vestido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Container da Imagem */
figure.fig-segundo-vestido {
    width: 25%;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 0 20px 10px #E6B194;
}

/* Imagem */
.img-segundo-vestido {
    width: 100%;
    display: block;
}

/* Comportamento da caption sem o mouse hover */
figure.fig-segundo-vestido .caption-segundo-vestido {
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    max-height: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    background: white;
    opacity: 0;

    box-sizing: border-box;
    transition: all 0.5s;
    transform: translate3d(-100%, -50%, 0);

    -moz-box-sizing: border-box;
    -moz-transition: all 0.5s;
    -moz-transform: translate3d(-100%, -50%, 0);

    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -webkit-transform: translate3d(-100%, -50%, 0);
}

/* Texto que será deslocado no mouse hover */
.texto-segundo-vestido {
    display: block;
    color: #BB7D68;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

/*** Efeitos ****/
/* Deslocamento da imagem */
figure.pushup-segundo-vestido .img-segundo-vestido {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* Deslocamento da caption */
figure.pushup-segundo-vestido .caption-segundo-vestido {
    top: 100%;
    opacity: 85%;

    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/* Mouse Hover */
/* Deslocamento da imagem com mouse hover */
figure.pushup-segundo-vestido:hover .img-segundo-vestido {
    transform: translate3d(0, -20px, 0);
    transform: scale(1.1);
    transition: 300ms linear;
}

/* Deslocamento da caption com mouse hover */
figure.pushup-segundo-vestido:hover .caption-segundo-vestido {
    box-shadow: 0px -2px 28px rgba(0, 0, 0, 0.3);

    /* Tamanho do fundo da caption que irá aparecer */
    /* moz e webkit para navegadores */
    transition: all 0.5s;
    transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* Media Query */
@media screen and (max-width: 975px) {
    figure.fig-segundo-vestido {
        width: 35%;
    }
}

@media screen and (max-width: 755px) {
    .texto-segundo-vestido {
        font-size: 15px;
        transition: 1s;
        width: 100%;
    }
}

@media screen and (max-width: 655px) {
    figure.fig-segundo-vestido {
        width: 70%;
    }
}

@media screen and (max-width: 335px) {
    .texto-segundo-vestido {
        font-size: 10px;
        transition: 1s;
    }
}

@media screen and (max-width: 290px) {
    .titulo-segundo-vestido {
        font-size: 50px;
        transition: 1s;
    }
}

@media screen and (max-width: 210px) {
    .titulo-segundo-vestido {
        font-size: 40px;
        transition: 1s;
    }
}

@media screen and (max-width: 210px) {
    .titulo-segundo-vestido {
        font-size: 35px;
        transition: 1s;
    }
}