.secaoError {
    display: block;
    background-color: #CE947B;
    overflow: hidden;
}

.imgError {
    width: 100%;
}

.linkError {
    text-decoration: none;
    display: contents;
}

.textoError {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

/* Mouse Hover */
.textoError:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

/* Media Query*/
@media screen and (max-width: 380px) {
    .textoError {
        font-size: 40px;
        transition: 1s;
    }
}

@media screen and (max-width: 250px) {
    .textoError {
        font-size: 30px;
        transition: 1s;
    }
}

@media screen and (max-width: 170px) {
    .textoError {
        font-size: 20px;
        transition: 1s;
    }
}