.section-erro {
    display: flex;
    flex-direction: column;
    background-color: #CE947B;
    overflow: hidden;
}

.img-erro {
    width: 100%;
}

.link-erro {
    text-decoration: none;
    display: contents;
}

.link-erro p {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 100;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

/* Mouse Hover */
.link-erro p:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

/* Media Query*/
@media screen and (max-width: 380px) {
    .link-erro p {
        font-size: 40px;
        transition: 1s;
    }
}

@media screen and (max-width: 250px) {
    .link-erro p {
        font-size: 30px;
        transition: 1s;
    }
}

@media screen and (max-width: 170px) {
    .link-erro p {
        font-size: 20px;
        transition: 1s;
    }
}