.secao-perguntas {
    font-family: 'Montserrat', sans-serif;
    background-color: #BB7D68;
    padding-bottom: 50px;
}

.container-perguntas {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.card-perguntas h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #E6B194;
    text-align: center;
}

.card-perguntas p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-align: justify;
}

/* Media Query */
@media screen and (max-width: 1200px) {
    .card-perguntas h2 {
        font-size: 25px;
        width: 90%;
    }

    .card-perguntas p {
        width: 90%;
    }

    .container-perguntas {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .card-perguntas p {
        font-size: 15px;
        flex-direction: row;
    }

}

@media screen and (max-width: 230px) {
    .card-perguntas p {
        width: 160px;
    }

}

@media screen and (max-width: 195px) {
    .card-perguntas p {
        width: 130px;
    }
}