.cntLinkIcon {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Media Query */
@media screen and (max-width: 875px) {
    .cntLinkIcon {
        margin: 0;
    }
}