.sectionInitialPhrase {
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#8d5951, #bb7d68, #fff);
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
