.containerSobreTexto {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #BB7D68;
    color: #FCF9F7;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 140px;
}

.tituloSobre {
    font-family: 'Great Vibes';
    font-size: 80px;
    letter-spacing: 3px;
    color: #E6B194;
    font-weight: 100;
    width: 80%;
}

.subtituloSobre {
    font-size: 25px;
    letter-spacing: 1px;
    width: 80%;
}

.containerParagrafos {
    width: 80%;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: justify;
}

/* Media Query */
@media screen and (max-width: 320px) {
    .tituloSobre {
        font-size: 40px;
    }
}

@media screen and (max-width: 270px) {
    .tituloSobre {
        font-size: 50px;
    }

    .subtituloSobre {
        font-size: 20px;
    }
}

@media screen and (max-width: 215px) {
    .sobreParagrafo {
        font-size: 15px;
    }
}

@media screen and (max-width: 175px) {
    .tituloSobre {
        font-size: 40px;
    }

    .subtituloSobre {
        font-size: 20px;
    }

    .sobreParagrafo {
        font-size: 10px;
    }
}