/* Container Geral para agrupamento das imagens */
.cntSixthDress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -30px;
}

/* Container da Imagem */
figure.figSixthDress {
    width: 25%;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 0 20px 5px #8D5951;
}

/* Imagem */
.imgSixthDress {
    width: 100%;
    display: block;
}

/* Comportamento da caption sem o mouse hover */
figure.figSixthDress .capSixthDress {
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    max-height: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    background: white;
    opacity: 0;

    box-sizing: border-box;
    transition: all 0.5s;
    transform: translate3d(-100%, -50%, 0);

    -moz-box-sizing: border-box;
    -moz-transition: all 0.5s;
    -moz-transform: translate3d(-100%, -50%, 0);

    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -webkit-transform: translate3d(-100%, -50%, 0);
}

/* Texto que será deslocado no mouse hover */
.textSixthDress {
    display: block;
    color: #BB7D68;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

/*** Efeitos ****/
/* Deslocamento da imagem */
figure.pushupSixthDress .imgSixthDress {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* Deslocamento da caption */
figure.pushupSixthDress .capSixthDress {
    top: 100%;
    opacity: 85%;

    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/* Mouse Hover */
/* Deslocamento da imagem com mouse hover */
figure.pushupSixthDress:hover .imgSixthDress {
    transform: translate3d(0, -20px, 0);
    transform: scale(1.1);
    transition: 300ms linear;
}

/* Deslocamento da caption com mouse hover */
figure.pushupSixthDress:hover .capSixthDress {
    box-shadow: 0px -2px 28px rgba(0, 0, 0, 0.3);

    /* Tamanho do fundo da caption que irá aparecer */
    /* moz e webkit para navegadores */
    transition: all 0.5s;
    transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* Media Query */
@media screen and (max-width: 975px) {
    figure.figSixthDress {
        width: 35%;
    }
}

@media screen and (max-width: 755px) {
    .textSixthDress {
        font-size: 15px;
        transition: 1s;
        width: 100%;
    }
}

@media screen and (max-width: 655px) {
    figure.figSixthDress {
        width: 70%;
    }
}

@media screen and (max-width: 335px) {
    .textSixthDress {
        font-size: 10px;
        transition: 1s;
    }
}