/* SECAO VESTIDO TIPO 6 - BACKGROUND ESCURO */

/* Container da página */
.sectionSixthDress {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    background-color: #BB7D68;
}