.secaoInicialSobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    background-color: #fff;
}

.linkInicialSobre {
    margin-top: 60px;
    font-size: 80px;
    font-weight: 00;
    color: #CE947B;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    width: 80%;
}

.secaoInicialSobre h2 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #E6B194;
    text-align: center;
    width: 80%;
}

.secaoInicialSobre p {
    width: 80%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
}

/* Mouse Hover */
.linkInicialSobre:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

/* Media Query */
@media screen and (max-width: 1070px) {
    .linkInicialSobre {
        font-size: 60px;
        transition: 1s;
    }

    .secaoInicialSobre h2 {
        font-size: 24px;
        transition: 1s;
    }

    .secaoInicialSobre p {
        font-size: 19px;
        transition: 1s;
    }
}

@media screen and (max-width: 825px) {
    .linkInicialSobre {
        font-size: 55px;
        transition: 1s;
    }

    .secaoInicialSobre h2 {
        font-size: 20px;
        transition: 1s;
    }

    .secaoInicialSobre p {
        font-size: 18px;
        transition: 1s;
    }
}

@media screen and (max-width: 500px) {
    .secaoInicialSobre h2 {
        font-size: 18px;
        transition: 1s;
    }

    .secaoInicialSobre p {
        font-size: 15px;
        transition: 1s;
    }
}

@media screen and (max-width: 300px) {
    .secaoInicialSobre h2 {
        font-size: 15px;
        transition: 1s;
    }

    .secaoInicialSobre p {
        font-size: 13px;
        transition: 1s;
    }
}