/* Texto da Seção */
.titleSixthDress {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: #E6B194;
    padding-top: 40px;
}