.secaoVestidosMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BB7D68;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
}

.secaoVestidosMenu .window {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}


.secaoVestidosMenu.secaoVestidosMenuActive .window {
    flex-direction: column;
}

.containerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 80%;
}

.boxTitulo .tituloVestidos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    z-index: 100;
    width: 40px;
    /* height: 40px; */
    cursor: pointer;
}

.burguer {
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 50%;
    width: 30px;
    height: 6px;
    background: #fff;
    /* position: absolute; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transform: scale(0.9);
}

.burguer::before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.burguer::after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    height: 6px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 30px 0;
    height: 100%;
}

.list .listItems a {
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #E6B194;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.icon.iconActive .burguer {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
}

.icon.iconActive .burguer::after {
    top: 0;
    background: white;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .burguer::before {
    top: 0;
    background: white;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);

}

.menu.menuOpen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    box-shadow: 10px 0px 69px 0px rgba(187, 125, 104, 0.30);

}

.menu.menuClose {
    display: none;
    width: 0px;
}


/* Mouse Hover */
.tituloVestidos:hover {
    transform: scale(1.02);
    transition: 1s;
}

.burguer:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.list .listItems a:hover {
    font-weight: 800;
}



/* Media Query */
@media screen and (max-width: 450px) {
    .list .listItems a {
        font-size: 40px;
    }
}

@media screen and (max-width: 435px) {
    .boxTitulo .tituloVestidos {
        font-size: 20px;
        transition: 1s;
    }
}

@media screen and (max-width: 306px) {
    .containerMenu .tituloVestidos {
        width: 80%;
        padding: 0;
    }

    .boxTitulo .tituloVestidos {
        font-size: 15px;
        transition: 1s;
    }
}



@media screen and (max-width: 230px) {
    .list .listItems a {
        font-size: 30px;
    }
}

/* 
.listItems {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.linksVestidos#escuro {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    color: #E6B194;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    
    padding: 40px 20px;
    margin: auto;
    background-color: #E8DAD2;
    max-height: 30px;
    width: calc(100% / 6);
}

.linksVestidos#claro {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;

    padding: 40px 20px;
    margin: auto;
    background-color: #C4B0A4;
    max-height: 30px;
    width: calc(100% / 6);
}
*/

/* Mouse Hover 
.linksVestidos#claro:hover,
.linksVestidos#escuro:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}
*/
/* Media Query 
@media screen and (max-width: 1200px) {

    .linksVestidos#escuro,
    .linksVestidos#claro {
        font-size: 30px;
        transition: 1s;
    }
}
*/