.secaoVestidosMenu {
    background-color: #BB7D68;
}

.linksVestidosMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.linksVestidos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    color: #E6B194;
    font-size: 50px;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    padding: 40px 20px;
}

/* Mouse Hover */
.linksVestidos:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

/* Media Query */
@media screen and (max-width: 1075px) {
    .linksVestidos {
        font-size: 38px;
        transition: 1s;
    }
}

@media screen and (max-width: 930px) {
    .linksVestidos {
        font-size: 35px;
        transition: 1s;
    }
}

@media screen and (max-width: 160px) {
    .linksVestidos {
        font-size: 30px;
        transition: 1s;
    }
}