.secao-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BB7D68;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0px;
}

.secao-titulo h1 {
    color: #E6B194;
    font-size: 35px;
    text-align: center;
}

.secao-titulo h2 {
    color: #fff;
    font-size: 20px;
    text-align: justify;
}