.containerCabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.containerLogin {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}

.iconeLogin {
    margin-right: 10px;
    padding: 5px;
    /*border: 1px solid black;
    border-radius: 50px;*/
    background-color: #fff;
}

.linkLogin {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

.containerBorda {
    width: 90%;
    margin-top: 20px;
    border-bottom: 1px solid #8D5951;
}

.containerLogoLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.containerLogo {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;

}

.linkLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #CE947B;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 3px;
    font-family: 'Great Vibes';
}

.imgLogo {
    width: 180px;
    display: flex;
}

.containerLinkIcones {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerLink {
    display: flex;
}

.linkCabecalho {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

.containerIcones {
    width: 70px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

/* Mouse Hover */
.linkLogin:hover {
    transform: scale(1.1);
    -webkit-text-stroke: 0.5px #CE947B;
    transition: 200ms linear;
}

.linkLogo:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

.linkCabecalho:hover {
    transform: scale(1.1);
    -webkit-text-stroke: 1px #CE947B;
    transition: 200ms linear;
}

.iconeLocalizacao:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.iconeInstagram:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

/* Media Query */
@media screen and (max-width: 950px) {
    .containerLogin {
        align-self: center;
        padding: 0;
    }

    .containerLogoLinks {
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 630px) {
    .containerLogo {
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (max-width: 549px) {
    .containerIcones {
        padding-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .containerLink {
        flex-direction: column;
        text-align: center;
    }

    .linkLogo {
        text-align: center;
    }

    .containerLinkIcones {
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .containerIcones {
        padding-top: 20px;
    }
}

@media screen and (max-width: 200px) {
    .linkLogo {
        font-size: 30px;
    }

    .imgLogo {
        width: 150px;
        transition: 1s;
    }

    .linkLogin {
        margin: 0;
    }

}