.containerCabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.containerLogin {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}

.iconeLogin {
    margin-right: 10px;
    padding: 5px;
    /*border: 1px solid black;
    border-radius: 50px;*/
    background-color: #fff;
}

.linkLogin {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

.containerBorda {
    width: 90%;
    margin-top: 20px;
    border-bottom: 1px solid #8D5951;
}

.containerLogoLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.containerLogo {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;

}

.linkLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #CE947B;
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 3px;
    font-family: 'Great Vibes';
}

.imgLogo {
    transform: scale(0.8);
    width: 180px;  
}

.containerLinkIcones {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerLink {
    display: flex;
}

.linkCabecalho {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

.containerIcones {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

/* Mouse Hover */
.linkLogin:hover {
    transform: scale(1.1);
    -webkit-text-stroke: 0.5px #CE947B;
    transition: 200ms linear;
}

.linkLogo:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

.linkCabecalho:hover {
    transform: scale(1.1);
    -webkit-text-stroke: 1px #CE947B;
    transition: 200ms linear;
}

.iconeLocalizacao:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.iconeInstagram:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

/* Media Query */
@media screen and (max-width: 1160px) {
    .linkLogo {
        font-size: 50px;
        transition: 1s;
    }

    .imgLogo {
        width: 140px;
        transition: 1s;
    }

    .linkCabecalho {
        font-size: 18px;
        transition: 1s;
    }
}

@media screen and (max-width: 1020px) {
    .linkLogo {
        font-size: 40px;
        transition: 1s;
    }

    .imgLogo {
        width: 120px;
        transition: 1s;
    }

    .linkCabecalho {
        font-size: 16px;
        transition: 1s;
    }
}

@media screen and (max-width: 875px) {
    .containerLogin {
        align-self: center;
        padding: 0;
    }

    .containerLogoLinks {
        flex-direction: column;
        padding: 15px 0px;
        width: 90%;
    }

    .containerLogo {
        justify-content: center;
        margin: 0;
    }

    .containerLinkIcones {
        margin: 0;
    }
}


@media screen and (max-width: 499px) {
    .linkLogo {
        text-align: center;
    }

    .containerIcones {
        padding-top: 20px;
    }
}

@media screen and (max-width: 410px) {
    .linkCabecalho {
        font-size: 13px;
        transition: 1s;
    }

    .imgLogo {
        width: 100px;
    }

    .linkLogin {
        font-size: 15px;
        transition: 1s;
    }
}

@media screen and (max-width: 395px) {
    .imgLogo {
        width: 80px;
    }

    .containerIcones img {
        width: 20px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 358px) {
    .containerLogo {

        margin: 0;
    }

    .linkLogo {
        font-size: 20px;
        transition: 1s;
    }

    .linkLogo {
        width: 90px;
    }
}

@media screen and (max-width: 335px) {
    .linkCabecalho {
        font-size: 10px;
    }

    .containerIcones {
        width: 20%;
    }

    .containerIcones img {
        width: 18px;
    }
}

@media screen and (max-width: 280px) {

    .containerLink,
    .containerLinkIcones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerIcones {
        width: auto;
    }

    .containerIcones img {
        width: 15px;
    }
}

/* @media screen and (max-width: 200px) {
    .linkLogo {
        font-size: 30px;
    }

    .imgLogo {
        width: 150px;
        transition: 1s;
    }

    .linkLogin {
        margin: 0;
    }

} */