.secao-segundo-servico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #BB7D68;
  padding-bottom: 30px;
}

.card-veus {
  margin: 0;
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.veus-titulo {
  font-family: 'Great Vibes';
  text-align: center;
  letter-spacing: 3px;
  font-size: 70px;
  color: #fff;
  display: flex;
  font-weight: 100;
}

.veus-paragrafo {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  width: 80%;
}

.swiper {
  width: 65%;
  height: 100%;
  padding: 50px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

/* Mouse Hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}

/*
.swiper-slide img:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}*/

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active:hover {
  transform: scale(1.1);
  transition: 200ms linear;
}


/* Media Query */


@media screen and (max-width: 750px) {
  .veus-titulo {
    font-size: 50px;
    transition: 1s;
  }
}

@media screen and (max-width: 600px) {
  .secao-segundo-servico {
    flex-direction: column;
  }

  .card-veus {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .veus-titulo {
    font-size: 50px;
    transition: 1s;
  }
}

@media screen and (max-width: 215px) {
  .veus-titulo {
    font-size: 40px;
    transition: 1s;
  }

  .veus-paragrafo {
    font-size: 10px;
    transition: 1s;
  }
}