.secaoInicialInstagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCF9F7;
    padding-top: 10em;
    width: 100%;
}


.secaoInicialInstagram iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 90%;
    height: 100vh;
}

.lightwidget__footer {
    display: none;
    overflow: hidden;
}

.linkInstagram {
    display: flex;
    font-size: 80px;
    color: #CE947B;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
}

/* Mouse Hover */
.linkInstagram:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}

/* Media Query */
@media screen and (min-width: 1700px) {
    .secaoInicialInstagram {
        height: 100vh;
    }
}

@media screen and (max-width: 1600px) {
    .secaoInicialInstagram {
        height: 100vh;
    }
}

@media screen and (max-width: 1400px) {
    .secaoInicialInstagram {
        height: 90vh;
    }
}

@media screen and (max-width: 1250px) {
    .secaoInicialInstagram {
        height: 75vh;
    }
}

@media screen and (max-width: 950px) {
    .secaoInicialInstagram {
        height: 80vh;
    }
}

@media screen and (max-width: 690px) {
    .secaoInicialInstagram {
        height: 100vh;
    }

    .linkInstagram {
        font-size: 60px;
        transition: 1s;
    }
}

@media screen and (max-width: 600px) {
    .secaoInicialInstagram {
        height: 90vh;
    }
}

@media screen and (max-width: 500px) {
    .secaoInicialInstagram {
        height: 80vh;
    }
}

@media screen and (max-width: 400px) {
    .secaoInicialInstagram {
        height: 70vh;
    }
}

@media screen and (max-width: 300px) {
    .secaoInicialInstagram {
        height: 60vh;
    }
}

@media screen and (max-width: 180px) {
    .linkInstagram {
        font-size: 50px;
    }
}