.secaoInicialPerguntas {
    font-family: 'Montserrat', sans-serif;
    background-color: #BB7D68;
    padding-bottom: 50px;
}

.containerInicialPerguntas {
    width: 100%;
    display: flex;
    align-items: center;
}

.boxInicialPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.subtituloPerguntas {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #E6B194;
    text-align: center;
}

.textoPerguntas {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    text-align: justify;
}

/* Media Query */
@media screen and (max-width: 1200px) {
    .subtituloPerguntas {
        font-size: 25px;
        width: 90%;
    }

    .textoPerguntas {
        width: 90%;
    }

    .containerInicialPerguntas {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .textoPerguntas {
        font-size: 15px;
        flex-direction: row;
    }

}

@media screen and (max-width: 230px) {
    .textoPerguntas {
        width: 160px;
    }

}

@media screen and (max-width: 195px) {
    .textoPerguntas {
        width: 130px;
    }
}