.secaoInicialServicos {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.containerImgServicos {
    display: flex;
}

.containerImgServicos img {
    width: 50vw;
}

.containerSecaoServicos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #BB7D68;
}

.linkSecaoServicos {
    font-size: 70px;
    color: #ffffff;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-decoration: none;
    padding: 30px 20px;
    text-align: center;
}

.containerSecaoServicos p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.containerListaServicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerListaServicos img {
    margin-right: 30px;
}

.boxListaServicos {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linkServicos {
    text-decoration: none;
    color: #F6C1A1;
}

.linkServicos h2 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

/* Mouse Hover */
.linkServicos h2:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.linkSecaoServicos:hover {
    transform: scale(1.05);
    transition: 200ms linear;
}


/* Media Query */
@media screen and (max-width: 1065px) {

    .boxListaServicos {
        flex-direction: column;
    }

    .containerSecaoServicos h1 {
        font-size: 25px;
        text-align: center;
        transition: 1s;
    }

    .containerSecaoServicos h2 {
        font-size: 20px;
        text-align: center;
        transition: 1s;
    }

    .containerSecaoServicos p {
        font-size: 15px;
        text-align: center;
        transition: 1s;
    }

    .containerListaServicos img {
        margin-right: 0;
    }
}

@media screen and (max-width: 970px) {
    .containerImgServicos {
        display: none;
    }

    .containerSecaoServicos {
        width: 100%;
    }

    .containerListaServicos img {
        margin-right: 0;
    }
}

@media screen and (max-width: 265px) {
    .linkSecaoServicos {
        font-size: 35px;
        transition: 1s;
    }
}