.secao-instagram {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCF9F7;
}

.secao-instagram iframe {
    border: 0;
    width: 90%;
    height: 70%;
}

.lightwidget__footer {
    display: none;
}

.link-instagram {
    margin: 0;
    font-size: 80px;
    color: #CE947B;
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 260px) {
    .link-instagram {
        font-size: 45px;
        transition: 1s;
    }
}

@media screen and (max-width: 1000px) {
    .secao-instagram iframe {
        height: 40vh;
        transition: 1s;
    }
}

@media screen and (max-width: 1450px) {
    .secao-instagram {
        height: 80vh;
        transition: 1s;
    }
}