.section-erro {
    display: flex;
    flex-direction: column;
    background-color: #CE947B;
}

.img-erro {
    width: 100%;
}

.link-erro {
    text-decoration: none;
    display: contents;
}

.texto-erro {
    font-family: 'Great Vibes';
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 70px;
    color: #fff;
    text-align: center;
}

/* Mouse Hover */
.texto-erro:hover {
    transform: scale(1.1);
}

/* Media Query*/
@media screen and (max-width: 330px) {
    .texto-erro {
        font-size: 60px;
        transition: 1s;
    }
}

@media screen and (max-width: 250px) {
    .texto-erro {
        font-size: 40px;
        transition: 1s;
    }
}

@media screen and (max-width: 170px) {
    .texto-erro {
        font-size: 30px;
        transition: 1s;
    }
}