body {
  min-width: 300px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style do botão Scroll para o Topo */
.scroll-to-top#scrollUp {
  width: 60px;
  height: 60px;
  bottom: 10px;
  opacity: 50%;
  left: 10px;
  border-radius: 50px;
  border: none;
  z-index: 1000;
  margin-top: 16px;
  background-color: #8d5951;
  background-image: url("../public/assets/iconArrowUp.png");
  background-size: cover;
}

/* Mouse Hover */
.scroll-to-top#scrollUp:hover {
  transform: scale(1.2);
  transition: 200ms linear;
}
